html {
}

.clear { clear:both; }

.left {
  display: inline-block;
}

.right {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  float: right;
}

.header {
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  padding: 5px;
  position: relative;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.content {
  padding: 5px;
}

.alert.error {
  color: red;
}