<html>
  <head>
    <title>{% block title %}om panel{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <div class="container">
      <div class='header'>
        <div class='left'>
          <b>om panel</b>
        </div>

        <div class="right">
          <a href="{{ url_for('login') }}">sign in</a>
        </div>

        <div class='clear'></div>
      </div>

      <div class="content">
        <div class='flashes'>
          {% with flashes = get_flashed_messages() %}
            {% if flashes %}
              <ul class="flashes">
              {% for message in flashes %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>

        {% block body %}{% endblock %}
      </div>
    </div>
  </body>
</html>